@import "../valo/valo.scss";

$warning-indicator-color: #ffcc33;
$gray: #d1d1cf;
$green: #40b527;
$darkgreen: darken($green, 30%);

// Prefix all selectors in your theme with .demo
.demo {

	// Include valo theme styles in your theme
	@include valo;

    .valo-menu-title {
        padding: 16px 19px;
    }
    .valo-menu-subtitle {
        width: 350px !important;
    }
	.annyang-status {
	    height: 50px;
	    line-height: 50px;
	    text-align: center;
	    font-weight: bold;


        &.warning {
	        background-color: $warning-indicator-color;
            color: valo-font-color($warning-indicator-color, 0.62);
        }
	    &.error {
	        background-color: $v-error-indicator-color;
            color: valo-font-color($v-error-indicator-color, 0.92);
	    }
	}

    .masonry-layout .masonry-item {
        background-color: #fff;
        position: relative;
        margin: 8px 8px 8px 8px;
        border-radius: 1px;
        @include box-shadow(0 0 5px rgba(0, 0, 0, 0.2));
        box-sizing: border-box;
        width: 320px;
    }
}
#skitt-ui {

    top: 20px !important;
    bottom: initial !important;
    //left: initial !important;
    //right: 20px !important;

    &.skitt-ui--hidden {
        display: none !important;
    }
    #skitt-listening-text {
        height: 50px;
    }
}

